.pagination {
  display: flex
}
.pagination div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: default;
  margin: 0 5px;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  
}

.pagination a:hover:not(.active) {
  
  border: 1px solid rgb(0, 0, 0);
  background-color: #ddd;}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000000 transparent #000000 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.shadowed{
  cursor: pointer !important;
  color: #00000096 
}
.form,
.button{
    font-size: 1rem;
  
}
.form{
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}
.text__input{
  max-width: 100px;
  margin: 0 20px;
  height: 35px;
  font-size: 1.5rem;
}
.button{
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: .3s;
  height: 40px;
  }
  .button:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: #ddd;
  }
  .back__button{
    background: none;
	  color: red;
    display: block;
	  border: none;
    margin: 0 auto;
	  padding: 0;
	  font: inherit;
	  cursor: pointer;
	  outline: inherit;
    transition: .3s;
  }
  .back__button:hover{
    color: black;
  }