.about__section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.github{
 cursor: pointer;
  transition: .3s;
}
.github:hover{
  transform: scale(1.1);
}