.card__section{
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 20px;
align-items: center;
justify-content: center;
}

.card__title{
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(220, 210, 230, 0.5);
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(119 119 119);
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
.card:hover{
  transform: scale(1.05);
}
.card__img{
  border-radius: 10px;
}

  .card__header{
    font-size: 0.8rem;
    opacity: 0.5;
    text-transform: uppercase;
  }
  b {
    font-size: 0.8rem;
  }

.fa_check{
  color: chartreuse;
}
.color__wrapper{
  display: flex;
  flex-direction: row;
  gap: 7px
}
.card__color{
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 1px black solid ;
}
.color__wrapper{
  display: flex;
  flex-direction: row;
}
